.container{
    border: 2px solid black;
    margin-top: 7vh;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.mainContainer{
    width: 100%;
}

.btnAndComment{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-around;
    padding: 20px;
}

.btnAndComment button{
    height: 15vh;
    width: 35vw;

}

.imgContainer{
    border: 1px solid brown;
    margin-top: 10px;
    height: 10vh;
    width: 100%;
}


#img{
    max-height: 300px;
    width: 100%;
}