.globalContainer{
    background-image: url('../../public/images/bg_homePage1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: bottom;
    height: 80vh;
}