.container{
    border: 1px solid red;
    width: auto;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0px;
    top: 0;
    left: 0;
}

#logo{
    margin-left: 20px;

}

.btns{
    border: 1px solid red;
    margin-right: 20px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}